China v US Case Study:

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [8]:
# Load US risk-free rate

df_us_treasury_cpi = pd.read_csv('us_data/us treasury_cpi.csv')
df_us_treasury_cpi

          caldt     b1ret    t90ret    cpiret
0    1929-03-28       NaN  0.010424 -0.005848
1    1929-06-29       NaN  0.012697  0.005882
2    1929-09-30       NaN  0.011683  0.011696
3    1929-12-31       NaN  0.013535 -0.005780
4    1930-03-31       NaN  0.008532 -0.017442
..          ...       ...       ...       ...
347  2015-12-31 -0.002149  0.000209 -0.005968
348  2016-03-31  0.004291  0.000758  0.006794
349  2016-06-30  0.003261  0.000846  0.012119
350  2016-09-30  0.000035  0.001092  0.001701
351  2016-12-30  0.000077  0.000842  0.000017

[352 rows x 4 columns]

In [9]:
# Load China risk-free rate data

df_ch_risk_free = pd.read_csv('china_data/china risk free.csv')
df_ch_risk_free

            Clsdt  Nrrdata  Nrrwkdt
0      1990-04-15    10.08   0.1849
1      1990-08-21     8.64   0.1595
2      1990-12-19     8.64   0.1595
3      1990-12-20     8.64   0.1595
4      1990-12-21     8.64   0.1595
...           ...      ...      ...
11698  2022-12-27     1.50   0.0286
11699  2022-12-28     1.50   0.0286
11700  2022-12-29     1.50   0.0286
11701  2022-12-30     1.50   0.0286
11702  2022-12-31     1.50   0.0286

[11703 rows x 3 columns]